<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apollo (QA).ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BFC1D4E14E5BCB800681C57DDD92B318917A13B9</string>
				<key>dateExpires</key>
				<string>01/11/22</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFC1D4E14E5BCB800681C57DDD92B318917A13B9</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3275G83C9S</string>
						<key>name</key>
						<string>Imperative Chemical Partners, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFC1D4E14E5BCB800681C57DDD92B318917A13B9</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FLEX.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3275G83C9S</string>
						<key>name</key>
						<string>Imperative Chemical Partners, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFC1D4E14E5BCB800681C57DDD92B318917A13B9</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3275G83C9S</string>
						<key>name</key>
						<string>Imperative Chemical Partners, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFC1D4E14E5BCB800681C57DDD92B318917A13B9</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3275G83C9S</string>
						<key>name</key>
						<string>Imperative Chemical Partners, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>19.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFC1D4E14E5BCB800681C57DDD92B318917A13B9</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3275G83C9S</string>
						<key>name</key>
						<string>Imperative Chemical Partners, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFC1D4E14E5BCB800681C57DDD92B318917A13B9</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MSAL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3275G83C9S</string>
						<key>name</key>
						<string>Imperative Chemical Partners, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.21</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFC1D4E14E5BCB800681C57DDD92B318917A13B9</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3275G83C9S</string>
						<key>name</key>
						<string>Imperative Chemical Partners, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>124.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFC1D4E14E5BCB800681C57DDD92B318917A13B9</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3275G83C9S</string>
						<key>name</key>
						<string>Imperative Chemical Partners, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>14.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3275G83C9S.com.imperativechemicals.apollo-mobile.qa</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3275G83C9S</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3275G83C9S.com.microsoft.adalcache</string>
				</array>
			</dict>
			<key>name</key>
			<string>apollo-mobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5f6de852-73a3-4094-8a75-9937f8578e25</string>
				<key>dateExpires</key>
				<string>11/11/22</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.imperativechemicals.apollo-mobile.qa</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3275G83C9S</string>
				<key>name</key>
				<string>Imperative Chemical Partners, Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
